// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors for testing, will remove later on
.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.container-main{
  padding: 0px;
}

.bottom-border{
  border-bottom:solid black;
  border-bottom-width: 1px;  
}

.menu-bar{
  height:100px;
  width:100%;
  display:flex; 
  justify-content: flex-start;
  align-items: flex-end;

  .navigation{
    justify-content: flex-end;
    align-items: center;
    display:flex;

    .nav-item{
      padding-bottom: 10px;
      text-align: center;
      font-family: raleway;
    }

  }

  .logo
  {
    height:100px;
    width: auto;
  }
  
}

.landing-jumbotron{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding:0;
  margin-bottom: 5px;

  .jumbotron-text{
    position: absolute;
    top:5%;
    left:0;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    font-family: raleway;
    font-weight: 900;
    color: white;
  }

  .jumbotron-image{
    height:auto;
    width:100%;
  }

}

.guide-row{
  height:40px;
  text-align: center;
  font-size: 3rem; 
}



