// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors for testing, will remove later on

.landing-jumbotron{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding:0;
  margin-bottom: 5px;

  .jumbotron-text{
    position: absolute;
    top:5%;
    left:0;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    font-family: raleway;
    font-weight: 900;
    color: white;
  }

  .jumbotron-image{
    height:auto;
    width:100%;
  }

}

.section-title{
    margin-top: 30px;
    font-family: raleway;
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
  }

.person-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:50px
}
.description{
  text-align: justify;
}
.avatar{
  margin: 20px;
  height:150px;
  width:150px;
  border: black 2px;
}

.project-container{
  .project-image{
    max-height: 100%;
    max-width:100%;
  }
  .project-title{
    margin-top: 10px;
    text-align: center;
    height: 20%;
    width:100%;
    font-family: raleway;
    font-weight: 300;
    font-size: 1rem;
  }
}

